//Colors
$white: #fff;
$black: #000;
$text-color-dark: #353535;
$text-color-light: #5F5F5F;
$grey-dark: #A5A5A5;
$grey-light: #C3C3C3;
$accent-color: #519945;
$danger: #de0606;

//Radius
$radius: 5px;